<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabaseConn" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wip-test-service-calculator.cloudapp.net/DatabaseConnService.svc/DBConn"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseConn"
                contract="IDatabaseConn" name="BasicHttpBinding_IDatabaseConn" />
        </client>
    </system.serviceModel>
</configuration>